.carousel-img {
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    transition-delay: 0.3s;
    border: none
  }
    
  .carousel-img-poster {
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s;
    transition-delay: 0.3s;
    height: 380px;
  }

.backdrop-info{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    bottom: 5px;
    border-radius: 5px;
    background: linear-gradient(to bottom, transparent 0%, #000 100%);
    width: 100%;
    color: #fff;
}

.backdrop-info span:first-child{
    font-weight: 500;
    text-shadow: 0 0 20px #000;
}

.backdrop-info span:nth-child(2){
    font-weight: bold;
    text-shadow: 0 0 20px #000;
    background: rgba(0, 0, 0, 0.5);
    padding: 0 2px;
    border-radius: 3px;
}

.popular-title{
    text-align: start;
    margin-top: 5px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-left: -10px;
}

.info-bottom{
    margin-top: -20px;
}

.add-icon-text{
    display: none;
    position: absolute;
    margin-left: 25px;
    margin-top: -28px;
    padding: 5px 10px;
    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

.add-icon:hover > .add-icon-text{
    display: block;
}
